.images {
	border: 1px solid #ccc;
	background: #ccc;
	padding: 10px;
}
.left-flower {
	float: left;
}
.right-flower {
	float: right;
	width: 450px;
}
.clear {
	clear: both;
}


.list-item .each-item{
	float: left;
	margin-right: 10px;
	width: 20%;
	border: 1px solid #ccc;
}