body {
	margin: 0;
	color: #333;
}
/*made the welcome bar float right*/
.header-section nav{
	float: right;
	margin-top: -62px;
}
.header-section ul li{
	float: left;
	padding: 2px 5px;
}
/*made the header fixed*/
.header-section {
	width: 100%;
	text-align: center;
	position: fixed;
	background: #ccc;
}
