body {
	margin: 0;
	color: #333;
}
/*made the welcome bar float right*/
.header-section nav{
	float: right;
	margin-top: -62px;
}
.header-section ul li{
	float: left;
	padding: 2px 5px;
}
/*made the header fixed*/
.header-section {
	width: 100%;
	text-align: center;
	position: fixed;
	background: #ccc;
}
/*deal with the main content*/
.main-content {
	padding-top: 80px;
}
.main-content .side-bar {
	clear: both;
	position: fixed;
}
.side-bar ul {
	list-style: none;
	padding-left: 20px;
}
.side-bar li {
	background: #ccc;
	margin: 5px;
	padding: 2px 5px;
}
/*made the main content be the center of the page*/
.main-content .content {
	width: 80%;
	margin-left: 150px;
}
/*made the title of the artical center*/
.content h3 {
	text-align: center;
}
/*made the footer in the center of the page*/
footer {
	clear: both;
	text-align: center;
	padding: 30px 0;
}

.author {
	position: relative;
}
.author .detail {
	display: none;
}
.author:hover .detail{
	border: 1px solid #ccc;
	width: 200px;
	background: #ccc;
	padding: 5px;
	display: block;
	position: absolute;
	left: 0;
}